.module-flash-cards {
  background-color: lightgray;
  padding: 15px;
  max-width: 600px;
  margin: 0 auto;

  &.show-list-exercise-hide-flash-cards {
    .main-list-exercise {
      display: block;
    }
    .main-flash-cards {
      display: none;
    }
  }

  &.hide-flash-cards-show-list-exercise {
    .main-list-exercise {
      display: none;
    }
    .main-flash-cards {
      display: block;
    }
  }

  .main-flash-cards {
    .congratulation-info {
      width: 100%;
      height: 180px;
      background-color: rgb(200,200,200);
      margin: 15px 0;
      //transition: all 300ms ease-in-out;
      //transform: scale(0);
      animation-name: congrat-anim;
      animation-duration: 1.5s;
      h3 {
        font-size: 40px;
        animation-name: congrat-anim-h;
        animation-duration: 2s;
      }

      @keyframes congrat-anim {
        0%   {transform: scale(0);}
        100% {transform: scale(1);}
      }
      @keyframes congrat-anim-h {
        0%   {font-size: 40px;}
        70%  {font-size: 40px;}
        75% {font-size: 60px;}
        90%  {font-size: 40px;}
        95% {font-size: 50px;}
        100% {font-size: 40px;}
      }
    }
    .button-i-know,
    .button-i-dont-know {
      display: none;
    }
    &.check-out-card {
      .button-check-out {
        display: none;
      }
      .button-i-know,
      .button-i-dont-know {
        display: inline-block;
      }
      .flash-card {
        .flip-container .flipper {
          transform: rotateY(180deg);
        }
      }
    }
    .flash-card {
      .flip-container {
        perspective: 1000px;
        margin: 15px 0;
      }
      .flip-container, .front, .back {
        width: 100%;
        height: 180px;
      }
      .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;

        position: relative;
      }
      .front, .back {
        backface-visibility: hidden;
        padding: 15px;
        transition: all 600ms ease-in-out;
        border: 5px solid #fff;

        position: absolute;
        top: 0;
        left: 0;
      }
      .front {
        z-index: 2;
        background-color: rgb(200,200,200);
        transform: rotateY(0deg);
      }
      .back {
        transform: rotateY(180deg);
        background-color: #0b2e13;
        color: #fff;
      }
    }
  }
}