.module-flash-cards {
  background-color: lightgray;
  padding: 15px;
  max-width: 600px;
  margin: 0 auto;
  .flash-cards-main {
    .button-i-know,
    .button-i-dont-know {
      display: none;
    }
    &.check-out-card {
      .button-check-out {
        display: none;
      }
      .button-i-know,
      .button-i-dont-know {
        display: inline-block;
      }
      .flash-card {
        .flip-container .flipper {
          transform: rotateY(180deg);
        }
      }
    }
    .flash-card {
      .flip-container {
        perspective: 1000px;
        margin: 15px 0;
      }
      .flip-container, .front, .back {
        width: 100%;
        height: 160px;
      }
      .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;

        position: relative;
      }
      .front, .back {
        backface-visibility: hidden;
        padding: 15px;
        transition: all 600ms ease-in-out;
        border: 5px solid #fff;

        position: absolute;
        top: 0;
        left: 0;
      }
      .front {
        z-index: 2;
        background-color: rgb(200,200,200);
        transform: rotateY(0deg);
      }
      .back {
        transform: rotateY(180deg);
        background-color: #0b2e13;
        color: #fff;
      }
    }
  }
}