.color-0 {
  color: rgba(255, 255, 255, 0.5); }

.color-1 {
  color: #fff; }

.color-2 {
  color: #000; }

.color-3 {
  color: #191919; }

.color-4 {
  color: #338798; }

.color-5 {
  color: #2c8548; }

.color-6 {
  color: #852824; }

.color-7 {
  color: #522d27; }

.color-8 {
  color: #974c49; }

.color-9 {
  color: #978753; }

.color-10 {
  color: rgba(208, 119, 35, 0.8); }

:root {
  font-size: 20px; }
  @media (max-width: 991.98px) {
    :root {
      font-size: 16px; } }

@font-face {
  font-family: 'fontello';
  src: url("./fonts/fontello.eot");
  src: url("./fonts/fontello.eot#iefix") format("embedded-opentype"), url("./fonts/fontello.woff2") format("woff2"), url("./fonts/fontello.woff") format("woff"), url("./fonts/fontello.ttf") format("truetype"), url("./fonts/fontello.svg#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-language:before {
  content: '\e800'; }

.icon-exchange:before {
  content: '\e801'; }

.icon-volume:before {
  content: '\e802'; }

.icon-cancel:before {
  content: '\e803'; }

.icon-award:before {
  content: '\e804'; }

.icon-ok:before {
  content: '\e805'; }

.icon-ok-circled:before {
  content: '\e806'; }

.icon-cancel-circled:before {
  content: '\e807'; }

.icon-down:before {
  content: '\f175'; }

.icon-up:before {
  content: '\f176'; }

.icon-left:before {
  content: '\f177'; }

.icon-right:before {
  content: '\f178'; }

.icon-down-open:before {
  content: '\e808'; }

.icon-left-open-1:before {
  content: '\e809'; }

.icon-right-open-1:before {
  content: '\e80a'; }

.icon-up-open:before {
  content: '\e80b'; }

.icon-trash-empty:before {
  content: '\e80c'; }

.icon-new-logo:before {
  content: '\e80e'; }

html {
  display: table; }

html, body {
  height: 100%;
  width: 100%; }

body {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url(./images/bg3.jpg);
  background-color: #d2cece;
  background-attachment: fixed;
  vertical-align: middle;
  display: table-cell;
  transition: all 300ms ease-in-out; }
  @media (max-width: 991.98px) {
    body {
      vertical-align: top; } }
  body #root {
    width: 100%;
    padding: 10px 0; }

h1, h2, h3, h4 {
  font-weight: 600; }

h1 {
  font-size: 1.5rem; }

h2 {
  font-size: 1.125rem; }

h3 {
  font-size: 1rem; }

h4 {
  font-size: 0.875rem; }

p {
  margin-bottom: 8px;
  font-size: 1rem; }

button {
  border: none;
  cursor: pointer;
  padding: 8px 10px;
  margin-bottom: 8px;
  font-size: 0.875rem;
  background-color: rgba(255, 255, 255, 0.5); }
  button:hover {
    opacity: .8; }
  button:focus {
    outline: 0; }
  button.border-content-bottom {
    position: relative; }
    button.border-content-bottom:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 4px;
      background-color: rgba(0, 0, 0, 0.1); }

a {
  text-decoration: none; }
  a:hover {
    opacity: .6; }

.module-flash-cards {
  padding: 0 10px;
  max-width: 860px;
  transition: all 300ms ease-in-out;
  width: 100%;
  margin: 0 auto; }
  .module-flash-cards .preloader {
    background-color: #191919;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    opacity: 1;
    transition: all 600ms ease-in-out; }
    .module-flash-cards .preloader span {
      font-size: 100px; }
    .module-flash-cards .preloader.animate-hide {
      opacity: 0;
      visibility: hidden; }
  @media (max-width: 991.98px) {
    .module-flash-cards {
      max-width: 660px; } }
  .module-flash-cards.enable-auto-voice .main-header .main-nav .main-nav-inset button.enable-auto-voice .icon-volume {
    color: #2c8548; }
  .module-flash-cards.rotate-disable .main-header .main-nav .main-nav-inset button.close-rotate .icon-ok {
    color: #2c8548; }
  .module-flash-cards.rotate-disable .flash-card .back {
    opacity: 0; }
  .module-flash-cards.rotate-disable .main-flash-cards.check-out-card .back {
    opacity: 1; }
  .module-flash-cards.rotate-disable .main-flash-cards .flash-card .flip-container,
  .module-flash-cards.rotate-disable .main-flash-cards .flash-card .flipper,
  .module-flash-cards.rotate-disable .main-flash-cards .flash-card .front,
  .module-flash-cards.rotate-disable .main-flash-cards .flash-card .back {
    transition: opacity 0ms ease-in-out; }
  .module-flash-cards.nav-mobile-active .main-header .main-nav {
    position: fixed;
    top: 10px;
    right: 10px;
    bottom: 10px;
    background: rgba(0, 0, 0, 0); }
    .module-flash-cards.nav-mobile-active .main-header .main-nav:after {
      height: 90%;
      transition: all 900ms ease-in-out; }
    .module-flash-cards.nav-mobile-active .main-header .main-nav .main-nav-inset {
      right: 0; }
    .module-flash-cards.nav-mobile-active .main-header .main-nav .hamburger span:nth-child(2) {
      opacity: 0; }
    .module-flash-cards.nav-mobile-active .main-header .main-nav .hamburger span:nth-child(1) {
      transform: rotate(45deg);
      top: 20px; }
    .module-flash-cards.nav-mobile-active .main-header .main-nav .hamburger span:nth-child(3) {
      transform: rotate(-45deg);
      top: 20px; }
  .module-flash-cards .main-header {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 8;
    padding: 5px 10px 10px;
    border-top-left-radius: 16px;
    background: linear-gradient(to bottom, rgba(151, 135, 83, 0.7) 0%, rgba(151, 135, 83, 0) 60%);
    text-align: center; }
    .module-flash-cards .main-header .main-nav {
      position: fixed;
      top: 10px;
      right: 10px;
      height: 50%;
      z-index: 9;
      background: linear-gradient(to bottom, #2c8548 0%, rgba(0, 0, 0, 0) 100%); }
      .module-flash-cards .main-header .main-nav p {
        font-size: 0.7rem; }
      .module-flash-cards .main-header .main-nav:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        overflow: hidden;
        height: 0;
        width: 42px;
        z-index: 9;
        background: linear-gradient(to bottom, #2c8548 0%, rgba(0, 0, 0, 0) 100%); }
      @media (max-width: 991.98px) {
        .module-flash-cards .main-header .main-nav {
          top: 0;
          right: 0;
          bottom: 0; } }
      @media (max-width: 991.98px) {
        .module-flash-cards .main-header .main-nav {
          background: none;
          position: absolute; } }
      .module-flash-cards .main-header .main-nav .main-nav-inset {
        width: 320px;
        right: -320px;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
        border-left: 1px solid #fff;
        padding: 10px 62px 10px 10px;
        transition: right 300ms ease-in-out;
        max-width: 100%;
        background-color: rgba(25, 25, 25, 0.98);
        color: #fff;
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 9;
        text-align: left; }
        @media (max-width: 991.98px) {
          .module-flash-cards .main-header .main-nav .main-nav-inset {
            width: 262px;
            right: -262px; } }
        .module-flash-cards .main-header .main-nav .main-nav-inset button {
          display: block;
          width: 100%;
          text-align: left;
          background-color: rgba(255, 255, 255, 0.1);
          color: #fff; }
          .module-flash-cards .main-header .main-nav .main-nav-inset button.rest-all {
            background-color: #852824;
            color: #fff; }
          .module-flash-cards .main-header .main-nav .main-nav-inset button.close-rotate .icon-ok {
            color: rgba(255, 255, 255, 0.2); }
          .module-flash-cards .main-header .main-nav .main-nav-inset button.enable-auto-voice .icon-volume {
            color: rgba(255, 255, 255, 0.2); }
      .module-flash-cards .main-header .main-nav .hamburger {
        width: 42px;
        height: 42px;
        background-color: transparent;
        position: relative;
        z-index: 10; }
        .module-flash-cards .main-header .main-nav .hamburger span {
          width: 22px;
          height: 4px;
          display: block;
          background-color: #fff;
          position: absolute;
          left: 10px;
          transition: all 300ms ease-in-out; }
          .module-flash-cards .main-header .main-nav .hamburger span:nth-child(1) {
            top: 10px; }
          .module-flash-cards .main-header .main-nav .hamburger span:nth-child(2) {
            top: 18px; }
          .module-flash-cards .main-header .main-nav .hamburger span:nth-child(3) {
            top: 26px; }
    .module-flash-cards .main-header h1 {
      margin-bottom: 5px;
      text-shadow: 0 0 1px #852824, 0 0 1px #000, 0 0 1px #000;
      color: #fff;
      text-align: left; }
      .module-flash-cards .main-header h1:before {
        margin-left: 0; }
    .module-flash-cards .main-header .direction-lang {
      border: 1px solid rgba(0, 0, 0, 0.2);
      text-align: center;
      padding: 4px 10px;
      margin-bottom: 0;
      background-color: rgba(208, 119, 35, 0.8);
      color: #fff; }
    .module-flash-cards .main-header .list-language {
      margin: 0;
      position: absolute;
      top: 3px;
      right: 2px; }
      @media (max-width: 991.98px) {
        .module-flash-cards .main-header .list-language {
          right: 40px; } }
      .module-flash-cards .main-header .list-language li {
        margin-right: 8px; }
        .module-flash-cards .main-header .list-language li a {
          opacity: .5;
          color: #fff; }
          .module-flash-cards .main-header .list-language li a.active-lang {
            opacity: 1;
            text-decoration: underline; }
            .module-flash-cards .main-header .list-language li a.active-lang:hover {
              text-decoration: underline; }
          .module-flash-cards .main-header .list-language li a:hover {
            text-decoration: none; }
  .module-flash-cards footer {
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center; }
    .module-flash-cards footer p {
      font-size: 0.75rem;
      color: rgba(0, 0, 0, 0.6); }
  .module-flash-cards .percent-pro {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    overflow: hidden;
    background-color: #2c8548; }
  .module-flash-cards .main-list-exercise {
    transition: all 300ms ease-in-out;
    overflow-y: hidden; }
    .module-flash-cards .main-list-exercise .category-box > h2 {
      position: relative;
      padding: 8px 10px;
      color: #fff;
      cursor: pointer;
      text-shadow: 0 0 1px #852824, 0 0 1px #000, 0 0 1px #000;
      background: linear-gradient(to bottom, rgba(151, 135, 83, 0.3) 0%, rgba(151, 135, 83, 0.35) 50%, rgba(151, 135, 83, 0.3) 100%); }
      .module-flash-cards .main-list-exercise .category-box > h2 span {
        position: absolute;
        top: 9px;
        right: 10px;
        transition: all 300ms ease-in-out;
        transform: rotate(180deg); }
      .module-flash-cards .main-list-exercise .category-box > h2 + ul {
        opacity: 1;
        transition: all 300ms ease-in-out;
        max-height: 500px; }
      .module-flash-cards .main-list-exercise .category-box > h2:not(.category-active) span {
        transform: rotate(0); }
      .module-flash-cards .main-list-exercise .category-box > h2:not(.category-active) + ul {
        max-height: 0;
        opacity: 0;
        overflow: hidden; }
      .module-flash-cards .main-list-exercise .category-box > h2.category-1 {
        background-color: #404398; }
      .module-flash-cards .main-list-exercise .category-box > h2.category-2 {
        background-color: #984432; }
      .module-flash-cards .main-list-exercise .category-box > h2.category-3 {
        background-color: #489865; }
      .module-flash-cards .main-list-exercise .category-box > h2.category-4 {
        background-color: #979847; }
    .module-flash-cards .main-list-exercise .main-list-exercise-inset {
      max-height: none;
      overflow-y: auto;
      margin: 0; }
      .module-flash-cards .main-list-exercise .main-list-exercise-inset li {
        margin-bottom: 8px; }
        .module-flash-cards .main-list-exercise .main-list-exercise-inset li a {
          display: block;
          width: 100%;
          background-color: rgba(255, 255, 255, 0.5);
          padding: 8px 10px;
          color: #000;
          position: relative;
          font-weight: 600; }
          .module-flash-cards .main-list-exercise .main-list-exercise-inset li a i {
            font-size: 0.7rem;
            display: block;
            color: #191919;
            font-weight: 400;
            font-style: normal; }
          .module-flash-cards .main-list-exercise .main-list-exercise-inset li a:hover {
            opacity: .8;
            text-decoration: none; }
        .module-flash-cards .main-list-exercise .main-list-exercise-inset li button {
          margin: 0 8px 0 0;
          background-color: #9e4a2c;
          color: #fff; }
  .module-flash-cards .nav-buttons button {
    padding: 10px;
    color: #fff;
    border-bottom: 8px solid rgba(255, 255, 255, 0.5);
    opacity: .9;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
    margin-bottom: 0;
    font-size: 1.125rem; }
    .module-flash-cards .nav-buttons button:hover {
      opacity: .8; }
    .module-flash-cards .nav-buttons button.button-check-out {
      width: 100%;
      background-color: #338798;
      border-radius: 8px; }
    .module-flash-cards .nav-buttons button.button-i-know {
      width: calc(50% - 5px);
      margin-right: 5px;
      background-color: #2c8548;
      border-bottom-left-radius: 8px;
      border-top-left-radius: 8px; }
    .module-flash-cards .nav-buttons button.button-i-dont-know {
      width: calc(50% - 5px);
      margin-left: 5px;
      background-color: #852824;
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px; }
  .module-flash-cards.show-list-exercise-hide-flash-cards .main-list-exercise {
    max-height: none;
    opacity: 1; }
  .module-flash-cards.show-list-exercise-hide-flash-cards .main-flash-cards {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    max-height: 0; }
  .module-flash-cards.hide-flash-cards-show-list-exercise .main-list-exercise {
    max-height: 0;
    opacity: 0; }
  .module-flash-cards.hide-flash-cards-show-list-exercise .main-flash-cards {
    opacity: 1;
    visibility: visible;
    padding: 15px 10px 10px;
    border-top: 4px solid #978753; }
  .module-flash-cards .main-flash-cards {
    transition: border, opacity 300ms ease-in-out;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative; }
    .module-flash-cards .main-flash-cards .button-close-exercise {
      background-color: #852824;
      position: absolute;
      line-height: .8;
      top: 0;
      right: 0;
      color: #fff;
      font-size: 1.25rem;
      font-weight: 600;
      z-index: 2;
      padding: 8px; }
      .module-flash-cards .main-flash-cards .button-close-exercise span {
        display: block;
        width: 300px;
        left: -305px;
        top: 4px;
        text-align: right;
        position: absolute;
        color: #191919;
        font-size: .7rem;
        opacity: .6; }
        @media (max-width: 991.98px) {
          .module-flash-cards .main-flash-cards .button-close-exercise span {
            width: 245px;
            left: -250px; } }
    .module-flash-cards .main-flash-cards .congratulation-info {
      width: 100%;
      height: 340px;
      padding: 10px;
      border: 5px solid #fff;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      margin: 36px 0 0;
      animation-name: congrat-anim;
      animation-duration: 1.5s; }
      @media (max-width: 991.98px) {
        .module-flash-cards .main-flash-cards .congratulation-info {
          height: 250px; } }
      .module-flash-cards .main-flash-cards .congratulation-info .icon-award {
        color: #978753; }
      .module-flash-cards .main-flash-cards .congratulation-info h2 {
        animation-name: congrat-anim-h;
        animation-duration: 2s; }
      .module-flash-cards .main-flash-cards .congratulation-info p {
        margin: 0 0 8px; }
@keyframes congrat-anim {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
@keyframes congrat-anim-h {
  0% {
    font-size: 1.125rem; }
  40% {
    font-size: 1.25rem; }
  55% {
    font-size: 1.563rem; }
  70% {
    font-size: 1.375rem; }
  85% {
    font-size: 1.875rem; }
  100% {
    font-size: 1.125rem; } }
    .module-flash-cards .main-flash-cards .button-i-know,
    .module-flash-cards .main-flash-cards .button-i-dont-know {
      display: none; }
    .module-flash-cards .main-flash-cards .flash-card {
      position: relative;
      z-index: 1; }
      .module-flash-cards .main-flash-cards .flash-card .flash-card-inset > h2, .module-flash-cards .main-flash-cards .flash-card .flash-card-inset p {
        padding-right: 50px; }
      .module-flash-cards .main-flash-cards .flash-card .flash-card-inset > p {
        font-size: .7rem; }
      .module-flash-cards .main-flash-cards .flash-card .flash-card-inset .percent-pro {
        top: -19px;
        left: -10px;
        right: -10px; }
    .module-flash-cards .main-flash-cards.check-out-card .button-check-out {
      display: none; }
    .module-flash-cards .main-flash-cards.check-out-card .button-i-know,
    .module-flash-cards .main-flash-cards.check-out-card .button-i-dont-know {
      display: inline-block; }
    .module-flash-cards .main-flash-cards.check-out-card .flash-card .flip-container .flipper {
      transform: rotateY(180deg); }
    .module-flash-cards .main-flash-cards.check-out-card .flash-card .flash-card-inset.ie-fix .back {
      z-index: 2;
      backface-visibility: visible;
      transition: all 300ms ease-in-out; }
    .module-flash-cards .main-flash-cards.check-out-card-more .flash-card .flip-container .flipper .front p {
      opacity: 0; }
    .module-flash-cards .main-flash-cards .flash-card .flip-container {
      perspective: 1000px;
      margin: 10px 0; }
    .module-flash-cards .main-flash-cards .flash-card .flip-container, .module-flash-cards .main-flash-cards .flash-card .front, .module-flash-cards .main-flash-cards .flash-card .back {
      width: 100%;
      height: 340px;
      transition: all 600ms ease-in-out; }
      @media (max-width: 991.98px) {
        .module-flash-cards .main-flash-cards .flash-card .flip-container, .module-flash-cards .main-flash-cards .flash-card .front, .module-flash-cards .main-flash-cards .flash-card .back {
          height: 250px; } }
    .module-flash-cards .main-flash-cards .flash-card .flipper {
      transition: 0.6s;
      transform-style: preserve-3d;
      position: relative; }
    .module-flash-cards .main-flash-cards .flash-card .front, .module-flash-cards .main-flash-cards .flash-card .back {
      backface-visibility: hidden;
      padding: 10px;
      border: 5px solid #fff;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      position: absolute;
      top: 0;
      left: 0; }
      .module-flash-cards .main-flash-cards .flash-card .front .icon-volume, .module-flash-cards .main-flash-cards .flash-card .back .icon-volume {
        color: #191919;
        margin: 0; }
      .module-flash-cards .main-flash-cards .flash-card .front p, .module-flash-cards .main-flash-cards .flash-card .back p {
        margin-bottom: 10px;
        width: 100%;
        font-size: 1.125rem;
        cursor: pointer; }
        .module-flash-cards .main-flash-cards .flash-card .front p:last-child, .module-flash-cards .main-flash-cards .flash-card .back p:last-child {
          margin-bottom: 0; }
        .module-flash-cards .main-flash-cards .flash-card .front p:hover .icon-volume, .module-flash-cards .main-flash-cards .flash-card .back p:hover .icon-volume {
          opacity: .8; }
        .module-flash-cards .main-flash-cards .flash-card .front p .icon-volume, .module-flash-cards .main-flash-cards .flash-card .back p .icon-volume {
          background-color: transparent;
          color: #c48500;
          opacity: 1;
          margin-right: 5px;
          text-shadow: 0 0 0 #000, 0 0 0 #000; }
        .module-flash-cards .main-flash-cards .flash-card .front p span, .module-flash-cards .main-flash-cards .flash-card .back p span {
          display: inline-block;
          vertical-align: middle; }
        .module-flash-cards .main-flash-cards .flash-card .front p strong, .module-flash-cards .main-flash-cards .flash-card .back p strong {
          color: #fff;
          vertical-align: middle;
          width: 26px;
          font-size: 85%;
          display: inline-block;
          opacity: .8;
          font-weight: 400; }
      .module-flash-cards .main-flash-cards .flash-card .front hr, .module-flash-cards .main-flash-cards .flash-card .back hr {
        height: 1px;
        background-color: #fff;
        width: 100%;
        margin: 10px 0; }
    .module-flash-cards .main-flash-cards .flash-card .front {
      z-index: 2;
      background-color: rgba(123, 152, 50, 0.5);
      transform: rotateY(0deg);
      color: #fff; }
      .module-flash-cards .main-flash-cards .flash-card .front p {
        opacity: 1;
        animation-name: text-flash-cards-anim;
        animation-duration: 600ms; }
@keyframes text-flash-cards-anim {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    .module-flash-cards .main-flash-cards .flash-card .back {
      transform: rotateY(180deg);
      background-color: rgba(51, 135, 152, 0.5);
      color: #fff; }
      .module-flash-cards .main-flash-cards .flash-card .back p {
        margin: 0; }
      .module-flash-cards .main-flash-cards .flash-card .back .google-translator {
        position: absolute;
        font-size: 0.7rem;
        top: 5px;
        right: 10px;
        color: #fff;
        opacity: .8; }

/*# sourceMappingURL=component.css.map */
